@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*, *::before, *::after {
   box-sizing: inherit;
 }
 
 
 
 html body * {
   padding: 0;
   margin: 0;
   overflow-x: inherit;
 } */


/* 
 header {
  overflow-x: hidden;
 } */

 body {
  
  overflow-x: hidden;
  box-sizing: border-box;

 }

 /* html {
  box-sizing: border-box;
  overflow-x: hidden
} */